bactmap/
nextflow/*
data/ont/*
data/illumina/*
work/
.nextflow*
.nextflow/
results/
results.bak/
test/
bin/
renv/
.cache/
.local/
.rstudio/
brig/scratch/
.Rproj.user
pangenome.Rmd
*.Rmd
tmp/bin/
renv/
.cache/
.local/
.rstudio/
brig/scratch/
.Rproj.user
pangenome.Rmd
*.Rmd
tmp/txt/
pyjar*
env/
environment.yaml
*.code-workspace
src/logs/


