process{

    withName: 'TRIM_READS' {
        echo = true
        container = 'nanozoo/filtlong:0.2.0--0c4cbe3'
    }

    withName: 'FASTP' {
        echo = true
        container = 'nanozoo/fastp:0.23.1--9f2e255'
    }

    withName: 'FASTQC' {
            echo = true
            container = "biocontainers/fastqc:v0.11.9_cv7"
        }

    withName: 'MULTIQC' {
        echo = true
        container = 'staphb/multiqc:1.8'
    }

    withName: 'NANOPLOT' {
        echo = true
        container = 'nanozoo/nanoplot:1.38.1--e303519'
    }

    withName: 'UNICYCLER' {
        echo = false
        container = 'biocontainers/unicycler:v0.4.7dfsg-2-deb_cv1'
        containerOptions = "--user root"
    }

    withName: 'FLYE' {
        echo = true
        container = 'nanozoo/flye:2.9.1--bba1957'
    }

    withName: 'MEDAKA_POLISH' {
        echo = false
        container = 'ontresearch/medaka:latest'
    }

    withName: 'PROKKA' {
        echo = false
        container = 'ontresearch/prokka:sha6e5e1eb601ec392e19fc1c31fef2979e6358f579'
        containerOptions = "--user root"
    }

    withName: 'POLYPOLISH' {
        echo = true
        container = 'staphb/polypolish:0.5.0'
    }

    withName: 'BWA_INDEX' {
        echo = true
        container = 'biocontainers/bwa:v0.7.17_cv1'
        containerOptions = "--user root"
    }

}

conda {
    enabled = false
}

docker {
    enabled = true
}

