params {
    outdir = 'results'
    publish_dir_mode = 'copy'
    ref = 'data/nc_01644.gb'
    sample_sheet = 'docs/sample_sheet.csv'
    assembly_sample_sheet = 'docs/hybrid_assemblies_sample_sheet.csv'
}

process {
    withName: 'before_trim' {
        publishDir = [
            path: "${params.outdir}/Qc/before_trim",
            mode: "copy"
        ]
    }


    withName: 'FILTLONG' {
        publishDir = [
            path: "${params.outdir}/filtlong",
            mode: "copy"
        ]
    }


    withName: 'NANOPLOT' {
        publishDir = [
            path: "${params.outdir}/nanoplot",
            mode: "copy"
        ]
    }


    withName: 'TRYCYCLER_CLUSTER' {
        publishDir = [
            path: "${params.outdir}/trycycler_clusters",
            mode: "copy"
        ]
    }
/*
    withName: 'SNIPPY_CORE' {
        publishDir = [
            path: "${params.outdir}/consensus",
            mode: "copy"
        ]
    }

     withName: 'SNP_SITES' {
        publishDir = [
            path: "${params.outdir}/phylo",
            mode: "copy"
        ]
    }

    withName: 'IQTREE' {
        publishDir = [
            path: "${params.outdir}/tree",
            mode: "copy"
        ]
    }
}
*/
}

docker.enabled = true

// includeConfig '../conf/base.config'
// includeConfig '../conf/modules.config'


/*
========================================================================================
    Nextflow Metrics & Reports
========================================================================================


timeline {
  enabled = true
  file    = "${params.outdir}/timeline.html"
}

report {
  enabled = true
  file    = "${params.outdir}/report.html"
}
trace {
  enabled = false
  fields  = 'task_id,name,status,exit,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar'
  file    = "${params.outdir}/trace.txt"
}

*/
